h1, h2 {
    background-color: steelblue;
    font-family: Tahoma, serif;
    color: white;
    padding: 10px;
    letter-spacing: 1px;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.2em;
}

.ng-file-over {
    background-color: #FFBEA3;
}

.bg {
    background-color: lightgreen;
}

.over {
    border: 2px dashed lavender;
    height: 100px;
    padding: 4px;
}

.item-progress-box {
    height: 20px;
    margin-top: -20px;
    margin-left: 60px;
    margin-right: 10px;
}

.item-progress {
    background-color: #90B8DA;
    height: 100%;
    width: 0;
}

.total-progress-box {
    height: 20px;
    margin-top: -20px;
    margin-left: 90px;
    margin-right: 10px;
}

.total-progress {
    background-color: #90B8DA;
    height: 100%;
    width: 0;
}

.box {
    margin: 20px;
}

.progress {
    background-color: mediumpurple;
    height: 20px;
}

.uploaded {
    background-color: lightgreen;
    height: 20px;
    width: 100px;
}

ul > li:nth-child(odd) {
    background-color: #f5f5f5;
    margin: 2px;
}
