<!DOCTYPE HTML>
<!-- 1. ng-file-drop -->
<html id="ng-app" ng-app="app" ng-file-drop> <!-- id="ng-app" IE<8 -->

    <head>
        <link rel="stylesheet" href="/css/style.css" />

        <!-- Fix for old browsers -->
        <script src="/js/es5-shim.min.js"></script>

        <!-- Fix for IE<9 in iframe mode -->
        <!--<script src="/js/jquery/jquery-1.8.3.min.js"></script>-->

        <script src="/js/angular/angular-1.1.5.min.js"></script>
        <script src="/js/angular/modules/files.js"></script>
        <script src="/js/angular/controllers.js"></script>

    </head>
    <body ng-controller="TestController">

        <h1>Test page</h1>

        <!-- 3. ng-file-over or ng-file-over="className" -->
        <div class="over" ng-file-over></div>

        <!-- 2. ng-file-select -->
        <input type="file" multiple ng-file-select />

        <h2>The queue. Length: {{ uploader.queue.length }}</h2>
        <ul>
            <li ng-repeat="item in uploader.queue">
                <div>Name: {{ item.file.name }}</div>
                <div>Size: {{ item.file.size }}</div>
                <div>
                    Progress: {{ item.progress }}
                    <div class="item-progress-box">
                        <div class="item-progress" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                </div>
                <div>Uploaded: {{ item.isUploaded }}</div>
                <div>
                    <a ng-href="#" ng-click="item.upload()" ng-hide="item.isUploaded" >upload</a>
                    <a ng-href="#" ng-click="item.remove()">delete</a>
                </div>
            </li>
        </ul>
        <div ng-show="uploader.queue.length">
            <div>
                Total progress: {{ uploader.progress }}
                <div class="total-progress-box">
                    <div class="total-progress" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <a ng-href="#" ng-click="uploader.uploadAll()" ng-show="uploader.getNotUploadedItems().length">upload all</a>
            <a ng-href="#" ng-click="uploader.clearQueue()">delete all</a>
        </div>

    </body>
</html>
